body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(90deg, #3CC8C8, #008C8C);
    color: white;
    height: 40px;
    padding: 20px;
    margin: 0;
    text-align: center;
}

section {
    max-width: 850px;
    margin: 30px auto;
    padding: 20px;
    background: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e6f2ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #0076BA;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0076BA;
    color: white;
    margin-top: 20px;
}

p {
    margin: 5px 5px 5px 5px;
}

.intro-text {
    margin-left: 40px;
}


@media (max-width: 768px) {
    .profile-pic {
        display: none; /* 모바일에서는 프로필 사진 숨김 */
    }

    .intro {
        flex-direction: column; /* 모바일에서는 글씨를 수직 정렬 */
        text-align: left;
        align-items: flex-start; /* 왼쪽 정렬 */
        padding-left: 10px; /* 왼쪽 여백 최소화 */
    }

    .intro-text {
        margin-left: 0;
        font-size: 15px; /* 모바일에서 글씨 크기 조정 */
    }

    .intro-text h2 {
        font-size: 28px;
    }

    .intro-text p {
        font-size: 24px;
    }
}
